body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

    color: grey;
}

.header {
  background-image: url("/home/mocuishla/code/ejercicios/week1/day1/lab-css-recipes-clone/starter-code/apple-pie-starter-code/images/apple-pie.jpg");
  background-size: cover;
  height: 550px;
  width: 100%;
}

.header h1 {
  text-align: center;
  padding-top: 250px;
  font-size: 80px;
  color: white;
}

.text-description {
  height: 150px;
  padding: 20px;
}

.text-description p {
  text-align: center;
  font-size: 25px;

  padding: 0 350px 0 350px;
  margin: auto;
}

.text-description img {
  height: 70px;
  margin: auto;
  padding: 0 660px 0 660px;
}

hr {
  width: 55%;
}

.text-ingredients h3 {
  font-size:30px;
  padding: 0 400px 0 400px;
 
}

.list-recipe {
  
  padding: 0 400px 0 400px;
}

.text-ingredients img {
  height: 100px;
  margin: auto;
  padding: 0 660px 0 660px;
}


.directions h3 {
  font-size:30px;
  padding: 0 400px 0 400px;
}

.directions ol {
  
  padding: 0 400px 0 400px;
}



